<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418116021656-b8bncr87cg8d65umh55khmeap81la2on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418116021656-b8bncr87cg8d65umh55khmeap81la2on</string>
	<key>API_KEY</key>
	<string>AIzaSyApM4Dasbe-yFKwTy0_8WbEe45CWHt1tWA</string>
	<key>GCM_SENDER_ID</key>
	<string>418116021656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cnewton.MeetUp.MessagesExtension</string>
	<key>PROJECT_ID</key>
	<string>schedule-app-database</string>
	<key>STORAGE_BUCKET</key>
	<string>schedule-app-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418116021656:ios:9244625e498fdb233e4fed</string>
	<key>DATABASE_URL</key>
	<string>https://schedule-app-database-default-rtdb.firebaseio.com</string>
</dict>
</plist>